@using ContactHub.Application.Queries.GetCompanies;

<ul class="list-group">
    <li class="list-group-item">@(Address?.Street ?? "No street provided")</li>
    <li class="list-group-item">@(Address?.City ?? "No city provided")</li>
    <li class="list-group-item">@(Address?.PostalCode ?? "No postal code provided")</li>
    <li class="list-group-item">@(Address?.Country ?? "No country provided")</li>
</ul>

@code {

    [Parameter]
    public Domain.ValueObjects.Address? Address { get; set; }
}
