@inherits LayoutComponentBase

<PageTitle>Contacter.Web</PageTitle>

<div class="page">
    <main class="background">
        <CascadingValue Value="this">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Contact Hub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                        <div class="w-50 mx-auto">
                            <form class="form-inline">
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" @bind-value="SearchParameter" @bind-value:event="oninput" placeholder="Search">
                                </div>

                                <div class="form-check mb-2 mr-sm-2">
                                    <InputRadioGroup @bind-Value="CardType">
                                        @foreach (var cardType in (CardTypeEnum[])Enum.GetValues(typeof(CardTypeEnum)))
                                        {
                                            <div class="form-check form-check-inline">
                                                <InputRadio class="form-check-input" Value="cardType" />
                                                <label class="form-check-label" for="inlineRadio1">@cardType</label>
                                            </div>
                                        }
                                    </InputRadioGroup>
                                </div>
                            </form>
                        </div>
                        <a href="/.auth/logout?post_logout_redirect_uri=/index.html" class="btn btn-primary btn-sm">Logout</a>
                    </div>
                </div>
            </nav>
            <article class="content">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    public string? SearchParameter { get; set; }

    public CardTypeEnum CardType { get; set; }

    public enum CardTypeEnum
    {
        Contacts,
        Companies
    }
}
